<% layout('layouts/mainAfterLogin') -%>
<div class="container-fluid" id="mainHome">
    <div id="bgImage">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="form-group mx-auto" style="width:310px">
              <div class="radioButton">
                  <label class="m-1 radio-inline">Groups <input type="radio" name="groupEvent" id=""></label>
                
                <label class="m-1 radio-inline">Events <input type="radio" name="groupEvent" id=""></label>
              </div>
                
                
         
            <div class="input-group">
                <input type="text" class="form-control " id="searchInput" placeholder="Search here..">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-warning">search</button>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="container">
        <div id="eventsHeading" class="mb-2 pt-2 pb-2">
        <strong>Events near you..</strong>
    </div>
    
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img " style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img" style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img" style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img" style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img" style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <img src="https://images.pexels.com/photos/159560/school-supplies-paint-watercolor-color-palette-159560.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" class="img-fluid card-img-top" style="max-height:200px">
                    <div class="card-footer">
                        <h5>Hyderaba, kukatpally</h5>
                        <p>As perr government daclaration we are conducting a seminar on blockchain</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    