<div class="container " style="background-color:blue;color: white;text-align: center;font-size:25px;height:600px">
       <br>
       <br>
       <br>
       <br>
    <div class="row border border-primary ">
        <div class="element ml-2 mr-2 mt-5 pt-3">
                <%= message %>
        </div>
       
    </div>
</div>